<footer id="page-footer">
  <strong>&copy; <span id="copyright-year"></span> Gabriel Majeri</strong>
  &ndash;
  <small
    >Conținutul de pe acest site este pus la dispoziție sub
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"
      >Licenţa Creative Commons Atribuire - Distribuire în condiţii identice 4.0
      Internațional</a
    >.
  </small>
</footer>
<script async src="/assets/scripts/footer.js"></script>
