<nav id="page-nav">
  <ul>
    <li><a href="/">Pagina principală</a></li>
    <li class="dropdown">
      <a href="#">Cursuri</a>
      <ul>
        <li><a href="/courses#mechanics">Mecanică</a></li>
        <li><a href="/courses#kinematics">Cinematică</a></li>
        <li><a href="/courses#optics">Optică</a></li>
      </ul>
    </li>
    <li><a href="/exercises">Exerciții</a></li>
    <li><a href="/about">Despre</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
