form {
  border: 1px solid black;
  border-radius: 25px;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem 2rem;
  max-width: 40rem;
}

form div {
  margin-bottom: 1em;
}

form textarea {
  width: 100%;
}
