/** Styling for the site homepage */

main {
  margin: auto;
  text-align: center;
}

iframe {
  max-width: 100%;
}

#coef-table {
  overflow-x: scroll;
  width: 100vw;
}

table {
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}

table th {
  color: white;
  background-color: gray;
}

table td {
  border: 1px solid black;
}

table tbody tr:nth-of-type(even) {
  background-color: lightgray;
}

#page-header .gear-container {
  text-align: center;
}

#gear {
  max-width: 100px;
  transform: rotate(30deg);
  animation-name: rotate-gear;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#gear.paused {
  animation: none;
}

@keyframes rotate-gear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
