<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include("../partials/head"); %>

    <link rel="stylesheet" href="/assets/styles/about.css" />

    <title>Despre</title>
  </head>
  <body>
    <%- include("../partials/navbar"); %>

    <main>
      <header>
        <h2>Părinții fizicii</h2>
      </header>
      <section id="carousel">
        <figure>
          <img src="/assets/images/newton.jpg" alt="Isaac Newton" />
          <figcaption>Isaac Newton</figcaption>
        </figure>
        <figure>
          <img
            src="/assets/images/carnot.jpeg"
            alt="Nicolas Léonard Sadi Carnot"
          />
          <figcaption>Nicolas Carnot</figcaption>
        </figure>
        <figure>
          <img src="/assets/images/maxwell.jpg" alt="James Clerk Maxwell" />
          <figcaption>James Maxwell</figcaption>
        </figure>
      </section>
    </main>
  </body>
</html>
