<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include("../partials/head"); %>
  </head>
  <body>
    <%- include("../partials/navbar"); %>
    <header>
      <h2>Scurtă motivație pentru a învăța fizică</h2>
      <p>
        Fizica clasică pornește de la câteva reguli simple și universale și
        ajunge să înțeleagă lumea cu acestea.
      </p>
      <p>
        Chiar și presupunând că nu te-a interesat niciodată să înțelegi cum
        funcționează un microunde sau un motor, și nici nu ai vrut să știi de ce
        funcționează ceasurile cu pendul, sunt destul de sigur că ți-ar fi de
        ajutor să poți estima în cât timp ajungi la destinație dacă mașina merge
        cu 50 km/h și mai ai de făcut 80 de km. Sau să îți dai seama dacă apa
        fierbe mai repede în oala acoperită sau descoperită.
      </p>
    </header>
    <section>
      <h2>Prima lege a mecanicii clasice</h2>
      <p>
        Prima lege descrie comportamentul obiectelor aflate într-un sistem de
        referință inerțial:
        <strong
          >în absența unei forțe externe, obiectele vor rămâne în repaus sau își
          vor păstra viteza constantă</strong
        >.
      </p>
    </section>
    <section>
      <h2>Legea a doua a mecanicii clasice</h2>
      <p>
        Una dintre cele mai utile legi ale mecanici, pe baza căreia putem
        rezolva aproape orice exercițiu, este aceasta:
      </p>
      <div class="math display-mode">F = m a</div>
      <p>Această lege leagă trei concepte fundamentale între ele:</p>
      <ul>
        <li>
          Forța pe care o aplicăm asupra unui obiect, care este o măsură a
          tăriei interacțiunii
        </li>
        <li>Masa obiectului, care este o măsură a inerției obiectului</li>
        <li>
          Accelerația, care descrie ritmul de modificare a vitezei obiectului în
          timp
        </li>
      </ul>
    </section>
    <section>
      <h2>Legea a treia a mecanicii clasice</h2>
      <p>
        Această lege ne spune că într-o interacțiune, fiecărei forțe exercitate
        de unul dintre corpuri îi corespunde
        <strong>o forță de aceeași magnitudine și de direcție opusă</strong>
        pe celălalt corp.
      </p>
    </section>
    <!--
      TODO: animation with Canvas API
      https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Basic_animations
    -->
  </body>
</html>
