<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include("../partials/head") %> <%- include("../partials/head-math"); %>

    <!-- Exercise loading code -->
    <script defer src="/assets/scripts/exercises.js"></script>
  </head>
  <body>
    <%- include("../partials/navbar"); %>
    <main>
      <header><h2>Exerciții</h2></header>
      <section id="exercises"></section>
    </main>
  </body>
</html>
