<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include("../partials/head"); %>

    <!-- Homepage style / script -->
    <script async src="/assets/scripts/index.js"></script>
    <link rel="stylesheet" href="/assets/styles/index.css" />

    <title>Învață fizica ușor, online de la Physikos</title>
  </head>
  <body>
    <header id="page-header">
      <h1>Physikos</h1>
      <h2>Un mod interactiv de a învăța fizică</h2>
      <div class="gear-container">
        <img id="gear" src="/assets/images/gear.webp" />
      </div>
    </header>
    <%- include("../partials/navbar"); %>
    <main>
      <section>
        <p>
          Pe acest site poți găsi animații, exerciții și cursuri interactive
          care te ajută să înveți
          <abbr
            title="Fizica obiectelor de dimensiuni asemănătoare oamenilor, excluzând mecanica relativistă sau fizica cuantică"
            >fizică clasică</abbr
          >.
        </p>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/DmIIwIP9Omk"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </section>
      <header>
        <h1>Cele mai noi articole</h1>
        <p>
          Aici puteți vedea cele mai recent actualizate materiale de pe site.
        </p>
      </header>
      <article>
        <h2>Legea lui Hooke</h2>
        <p>
          În acest articol vom descrie cum se comportă corpurile elastice, care
          în condiții obișnuite respectă
          <strong>legea lui Hooke</strong>.
        </p>
        <section id="coef-table">
          <table>
            <thead>
              <tr>
                <th>Tipul materialului</th>
                <th>Material</th>
                <th>Punct de topire</th>
                <th>Modulul de elasticitate</th>
                <th>Densitate</th>
                <th>Coeficientul de expansiune termică</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="2">Metal și aliaje</td>
                <td>Fier</td>
                <td>1538</td>
                <td>207</td>
                <td>7.87</td>
                <td>11.8</td>
              </tr>
              <tr>
                <td>Oțel inoxidabil</td>
                <td>1385</td>
                <td>193</td>
                <td>8.00</td>
                <td>16.0</td>
              </tr>
              <tr>
                <td rowspan="2">Polimeri</td>
                <td>Nylon</td>
                <td>260</td>
                <td>2</td>
                <td>1.14</td>
                <td>80</td>
              </tr>
              <tr>
                <td>Poliester</td>
                <td>255</td>
                <td>3.0</td>
                <td>1.35</td>
                <td>65</td>
              </tr>
            </tbody>
          </table>
        </section>
        <footer>
          <a href="#">Citește mai mult...</a>
        </footer>
      </article>
      <article>
        <h2>Principiul conservării energiei mecanice</h2>
        <p>
          Un principiu foarte important din fizică este cel al conservării
          energiei. Această lege ne spune că, în lipsa forțelor neconservative,
          energia mecanică a unui corp rămâne constantă.
        </p>
        <footer>
          <a href="#">Citește mai mult...</a>
        </footer>
      </article>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
